button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #7CBF50;
    color: black;
    border: none;
    border-radius: 4px;
    margin: 5px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#shop {
    display: flex;
    flex-direction: column;
}

#score {
    text-align: center;
    font-size: 30px;
}